################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hangman-project/FileContentIndex
/Hangman/obj/Debug/net7.0/Hangman.GeneratedMSBuildEditorConfig.editorconfig
/HangmanTest/obj/Debug/net7.0/HangmanTest.assets.cache
/HangmanTest/obj/Debug/net7.0/HangmanTest.csproj.AssemblyReference.cache
/HangmanTest/obj/Debug/net7.0/HangmanTest.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Hangman-project/FileContentIndex/1aec9740-7003-4056-af5d-cd8b05db2e74.vsidx
/.vs/Hangman-project/FileContentIndex/7b5fb7c9-b6ae-4143-8dc9-b4384b550600.vsidx
