################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hangman-project/FileContentIndex
/Hangman/obj/Debug/net7.0/Hangman.GeneratedMSBuildEditorConfig.editorconfig
/HangmanTest/obj/Debug/net7.0/HangmanTest.assets.cache
/HangmanTest/obj/Debug/net7.0/HangmanTest.csproj.AssemblyReference.cache
/HangmanTest/obj/Debug/net7.0/HangmanTest.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Hangman-project/FileContentIndex/1aec9740-7003-4056-af5d-cd8b05db2e74.vsidx
/.vs/Hangman-project/FileContentIndex/7b5fb7c9-b6ae-4143-8dc9-b4384b550600.vsidx
/Hangman/bin/Debug/net7.0/Hangman.dll
/Hangman/bin/Debug/net7.0/Hangman.pdb
/.vs/Hangman/FileContentIndex/d4ec53b9-fd6b-4ac6-8128-3ce4055aad6e.vsidx
/.vs/Hangman/FileContentIndex/f10b506b-4815-4bcf-a32d-f67c6d1a373f.vsidx
/.vs/Hangman-project/DesignTimeBuild/.dtbcache.v2
/.vs/Hangman-project/v17/TestStore/0/002.testlog
/.vs/Hangman-project/v17/.futdcache.v2
/.vs/Hangman-project/v17/.suo
/.vs/ProjectEvaluation/hangman-project.metadata.v5.2
/.vs/ProjectEvaluation/hangman-project.projects.v5.2
/HangmanTest/obj/Debug/net7.0/ref/HangmanTest.dll
/HangmanTest/obj/Debug/net7.0/refint/HangmanTest.dll
/HangmanTest/obj/Debug/net7.0/HangmanTest.pdb
/HangmanTest/obj/Debug/net7.0/HangmanTest.genruntimeconfig.cache
/HangmanTest/obj/Debug/net7.0/HangmanTest.dll
/HangmanTest/obj/Debug/net7.0/HangmanTest.csproj.FileListAbsolute.txt
/HangmanTest/obj/Debug/net7.0/HangmanTest.csproj.CoreCompileInputs.cache
